################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs
/GetTargetFrameworkVersionForFW/.vs/GetTargetFrameworkVersionForFW
/GetTargetFrameworkVersionForFW/bin/Debug
/GetTargetFrameworkVersionForFW/obj/Debug
